<p> <%= image_tag @item.main_image if @item.main_image%></p>
<h1> <%=  @item.title %> </h1>
<h3><%=  @item.subtitle %></h3>
<p> <%=  @item.body %> </p>


<%= link_to "Back", portfolios_path %>
