 <div class="container portfolio-form">
<div class="row">
<div class="col-md-7">
  <p> <%= image_tag @item.main_image, width: '100%'%>  </p>
</div>
<div class="col-md-5">
  <h1> <%=  @item.title %> </h1>
                <hr>
  <h3><%=  @item.subtitle %></h3>
  <p> <%=  @item.body %> </p>

  <h2> Technologies used </h2>
  <% @item.technologies.each do |t| %>
     <p> <%= t.name %> </p>
  <% end %>
  <%= link_to "Back", portfolios_path %>
  <% if logged_in?(:site_admin) %>
     <br>
     <%= link_to "Edit Item", edit_portfolio_path(@item), class: "btn btn-warning" %>
     <%= link_to "Delete Item", portfolio_path(@item), method: :delete, class: "btn btn-danger" %>
  <% end %>
   </div>
  </div>
</div>
