<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords"
             content=" <%= @seo_keywords %> "/>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">



    <!-- navbar -->
       <%= render 'layouts/blog_navbar' %>
    <!-- header   -->
       <%= render 'shared/blog_header' %>

     <!-- start of container -->
   <div class="container">
     <div class="row">


<div class="col-sm-9">
<%= yield %>
</div>

    <!-- start of sidebar -->
   <%= render 'shared/blog_sidebar' %>
    <!-- end of sidebar -->

          </div>

          <%= render 'shared/blog_footer_navbar' %>

          <%= render 'shared/alerts' %>

        </div>
      </div>
    </div>
  </div>

  </body>
</html>
