<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
             content=" <%= @seo_keywords %> "/>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- start of navbar -->
<%= render 'shared/portfolio_navbar.html.erb'  %>
  <!-- end of navbar  -->

  <!-- start of jumbotron -->
 <% if !logged_in?(:site_admin) %>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Gaurav's Portfolio</h1>
      <p class="lead text-muted">A brief display of all my projects.</p>
      <p>
          <%= link_to "Collaborate with me", contact_path, class: "btn btn-outline-primary btn-lg" %>
      </p>
      <%= source_helper ("alert alert-info") %>

    </div>
  </section>
<% end %>
  <!-- end of jumbotron -->

  <!-- start of album body -->



  <!-- end of album body -->

    <%= yield %>


  <%= source_helper("application") %>

  <%= render 'shared/alerts' %>

<!-- start of footer -->
  <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <%= link_to "Back to Portfolios page", portfolios_path %> |
            <a href="#">Back to top</a>
          </p>
          <p> <%= set_copyright %>
          </p>
        </div>
      </footer>
<!-- end of footer -->



  </body>
</html>
